<div class="content-section bisect">
    <div class="content-center">
      <div class="header">
        <h1>Events</h1>
      </div>
      <p class="p-right">
        We plan events that promote positive causes in which everyone gets a hands on experience.
        Here are upcoming and past events.
      </p>
    </div>
</div>

<div class="content-section bisect">
  <div class="content-left">
    <div class="header">
      <h2>Guinness World Record Attempt</h2>
      <h3>09 - 20 - 2014</h3>
    </div>
    <p>
      Come out on September 20th to help us break a Guinness World Record! We are creating a giant 10 feet tall paper mache sculpture! Everyone that stops by will have a chance to help with the sculpture and take part in breaking the record. The sculpture will read SPARK LOVE and is a way for the entire community to have a hand in constructing the work of art. Upon completion the sculpture will be donated to IUPUI for display. 
    </p>
    <p> 
      We will be downtown on the Canal September 20th from 10am to 2pm. Any and everyone is welcome! Bring the kids or just come with friends. The cost is free. Find us on <a href="http://www.facebook.com/wildfiresparklove" target="_blank">Facebook</a> for up to date details. We can't wait to see everyone and SPARK LOVE in Indy.
    </p>
  </div>
  <div class="content-right">
    <%= image_tag("Events/GuinnessWorldRecord/Guinness_World_Records_logo.png", :alt => "Guiness World Records", :class => "eventImg") %>
  </div>
</div>

<div class="content-section bisect">
  <div class="content-left">
    <div class="header">
      <h2>M.U.D. Olympics - Make Us Different</h2>
      <h3>06 - 22 - 2014</h3>
    </div>
    <p class="p-right">
      On June 22nd <span class="wildFire">WILD FIRE</span> partnered up with <a target="_blank" href="http://www.bebigforkids.org/site/c.6fIMIZMzFlJ0H/b.6547283/k.11DF/Big_Brothers_Big_Sisters_of_Central_Indiana.htm">Big Brothers Big Sisters of Central Indiana</a> to host the M.U.D. Olympics - Make Us Different. We were thrilled to be apart of the 13th Annual SummerFest, one of this year's largest outings for "Bigs" and "Littles". <span class="wildFire">WILD FIRE</span> hosted a variety of events that promoted team building, sportsmanship, and confidence. We helped strengthen bonds that will last a lifetime, and had a great day of fun in the sun and mud.
    </p>
  </div>
  <div class="content-right">
    <%= image_tag("Events/MUDOlympics/balloonToss.jpg", :alt => "MUD Olympics Water Balloon Toss", :class => "eventImg") %>
  </div>
</div>

<div class="content-section bisect">
  <div class="content-left">
    <div class="header">
      <h2>Summer, Sun, Tasty Beverages, and Fun</h2>
      <h3>06 - 20 - 2014</h3>
    </div>
    <p class="p-right">
    <span class="wildFire">WILD FIRE</span> joined in on one of the tasting sessions at <a target="_blank" href="http://www.sunkingbrewing.com">Sun King Brewery</a> and talked about Sparking Love. We were out to inspire others in the community to get active, give back, and make a difference. We had a blast and the brewery was amazing!
    </p>
  </div>
  <div class="content-right">
    <%= image_tag("Events/SunKing/boardMembers.jpg", :alt => "Sparking Love at Sun King Brewery", :class => "eventImg") %>
  </div>
</div>

<div class="content-section bisect">
  <div class="content-left">
    <div class="header">
      <h2>Waterman's Farm 2014 Strawberry Festival</h2>
      <h3>06 - 07 - 2014</h3>
    </div>
    <p class="p-right">
     Strawberry Fields Forever! We had a great time at the 2014 Strawberry Jam and Craft Fair hosted by <a target="_blank" href="http://www.watermansfamilyfarm.com">Waterman's Family Farm</a>. <span class="wildFire">WILD FIRE</span> had the pleasure of hosting the "Shortcake Obstacle Race." A lot of people in central Indiana may recall a fond memory of heading out to the pumpkin patch or strawberry field at Waterman's. We enjoyed some strawberries and helped give several children a great experience to look back on for years to come. 
    </p>
  </div>
  <div class="content-right">
    <%= image_tag("Events/StrawberryFest/Rings.JPG", :alt => "Waterman's Strawberry Festival", :class => "eventImg") %>
  </div>
</div>

<div class="content-section bisect">
  <div class="content-left">
    <div class="header">
      <h2>Farming Trash Treasures</h2>
      <h3>03 - 29 - 2014</h3>
    </div>
    <p class="p-right">
      We had the wonderful opportunity to team up with
      <a target="_blank" href="http://indyparksfoundation.org/site/what_we_do/indy_urban_acres_farm">Indy Urban Acres</a>, an Indianapolis
      based organization that has supported the local community by donating over 30,000 pounds of fresh produce. They also provide youth
      workshops to educate children about how their food gets from the farm to their plate. Our volunteers recycled old wooden pallets
      that were originally set out for the trash.  <span class="wildFire">WILD FIRE</span> transformed them into sustainable park benches
      for bright young minds to build an appreciation for farming for years to come.
    </p>
  </div>
  <div class="content-right">
    <%= image_tag("Events/SparkLove/439.jpg", :alt => "Farming Trash Treasures", :class => "eventImg") %>
  </div>
</div>

<div class="content-section bisect">
  <div class="content-left">
    <div class="header">
      <h2>Shoveling Snow and Shapes</h2>
      <h3>02 - 08 - 2014</h3>
    </div>
    <p class="p-right">
      During the harsh Indiana winter of 2014, <span class="wildFire">WILD FIRE</span> jumped into action by helping local Hoosiers
      become mobile again. We shoveled driveways at random for anyone who needed it. Our aim was to ease the burden of Winter's bite, inspire others
      to pay it forward, and Spark Love.
    </p>
  </div>
  <div class="content-right">
    <%= image_tag("Events/SnowShoveling/GroupPic2.jpg", :alt => "Shoveling Shapes in Snow", :class => "eventImg") %>
  </div>
</div>

<div class="content-section bisect">
  <div class="content-left">
    <div class="header">
      <h2>Potluck Care Packages</h2>
      <h3>02 - 01 - 2014</h3>
    </div>
    <p class="p-right">
      We gathered as friends to give back to our community. Each one of us donated an item we felt would be useful to those in need.
      What we gave was from our heart. The items ranged from absolute everyday necesseties to items that were simply meant to inspire
      and leave the recipient with a positive feeling. Our goal with this event was to let people who needed it know that they are appreciated
      and someone cares.
    </p>
  </div>
  <div class="content-right">
    <%= image_tag("Events/CarePackages/GroupPic.jpg", :alt => "Potluck Care Packages", :class => "eventImg") %>
  </div>
</div>
