<div class="content-center">
	<%= image_tag("Events/MayTheFourth/star-wars-banner-medium2.jpg", :alt => "WILDFIRE May The Fourth Festival", :class => "eventInfoCenterImg") %>
</div>

<div class="content-section eventInfo">
	<p class="p-right">
		<span class="wildFire">WILD FIRE</span> is pleased to invite you to the 1st annual Star Wars art celebration of its kind in Indianapolis,Indiana! Join us on Saturday, May 2nd for the Day of the Force Festival, a free festival that showcases some of the best Star Wars inspired art in the midwest!
	</p>
	<p class="p-right">
		The festivities will take place with our friends at <a target="_blank" href="http://www.pureeatery.com/">Pure Eatery</a> starting at 1pm until 7pm in Indy’s lively Fountain Square District. Bring the family, your friends, your neighbors, and anyone that loves Star Wars culture. Dress up as your favorite characters, see great art, meet the artists, meet fellow fans of 
		Star Wars, enjoy live music, and win prizes!
	</p>
		<%= image_tag("Events/MayTheFourth/starwars-costumecontest-image.jpg", :alt => "WILDFIRE May The Fourth Festival", :class => "eventInfoCenterImgMedium") %>
</div>

<div class="content-section eventInfo">
	<p class="p-right">
		 <a target="_blank" href="https://www.facebook.com/wildfiresparklove">Click Here</a> to like us on Facebook and join our event page to get the latest updates leading up to the inaugural Day of the Force Festival on May 2nd!
	</p>

	<p class="p-right">
		Are you an artist? Are you a fan of Star Wars? Would you like to be exhibited and have a chance to win prizes? 
	</p>

	<p class="p-right">
	 	<a target="_blank" href="may2application">Click Here</a> to download the application form! Entry forms must be completed and returned by April 14, 2015!
	</p>

	<p class="p-right">
		Are you a local business? Would you like to be a sponsor for Wildfire’s Day of the Force Festival or future Force Festivals? Please contact us at <a href="mailto:wildfireartshow@gmail.com">wildfireartshow@gmail.com</a>
	</p>

	<div class="sponsors">
		<span>
			<a target="_blank" href="http://www.duendeartproject.com/"><%= image_tag("Events/MayTheFourth/duendelogo.jpg", :alt => "WILDFIRE May The Fourth Festival Duende Project", :class => "") %></a>
		</span>
		<span>
			<a target="_blank" href="http://www.pureeatery.com/"><%= image_tag("Events/MayTheFourth/pureeatery.png", :alt => "WILDFIRE May The Fourth Festival Pure Eatery", :class => "") %></a>
		</span>
		<span>
			<a target="_blank" href="http://www.pygmalions.com/">
				<%= image_tag("Events/MayTheFourth/pygmalions.png", :alt => "WILDFIRE May The Fourth Festival Pygmalions", :class => "") %>
			</a>
		</span>
	</div>
	<div class="sponsors" style="margin-top:25px;">
		<span>
			<a target="_blank" href="http://www.sunkingbrewing.com/"><%= image_tag("Events/MayTheFourth/Sun_King_Brewery_Logo.png", :alt => "WILDFIRE May The Fourth Festival Sun King", :class => "") %></a>
		</span>
		<span>
			<a target="_blank" href="http://www.jockamopizza.com/"><%= image_tag("Events/MayTheFourth/jockamos.png", :alt => "WILDFIRE May The Fourth Festival Jockamos", :class => "") %></a>
		</span>
		<span>
			<a target="_blank" href="https://www.kroger.com/">
				<%= image_tag("Events/MayTheFourth/Kroger.png", :alt => "WILDFIRE May The Fourth Festival Kroger", :class => "") %>
			</a>
		</span>
	</div>

</div>
