<% provide(:contentTitle, 'Welcome to Wild Fire') %>

<div class="cycle-slideshow"
     data-cycle-pause-on-hover="true"
     data-cycle-center-horz=true
     data-cycle-center-vert=true
     data-cycle-speed="200" >
  <!-- empty element for overlay -->
  <div class="cycle-overlay"></div>
  <%= image_tag "Cycler/Cycle1.jpg", :alt => "Spark Love",
                                        :data => { :cycle_title => "Farming Trash Treasures",
                                                   :cycle_desc => "Turning throw away pallet wood into usable benches for Indy Urban Acres"} %>

  <%= image_tag("Cycler/Cycle2.jpg", :alt => "Spark Love",
                                           :data => { :cycle_title => "Pot Luck Care Packages",
                                                      :cycle_desc => "Handing out care packages to the people we found in need"}) %>

  <%= image_tag "Cycler/Cycle3.jpg", :alt => "Spark Love",
                                           :data => { :cycle_title => "Farming Trash Treasures",
                                                      :cycle_desc => "Bringing communities together"} %>

  <%= image_tag "Cycler/Cycle4.jpg", :alt => "Spark Love",
                :data => { :cycle_title => "Pot Luck Care Packages",
                           :cycle_desc => "Assembling care packages before heading downtown to hand them out"} %>

  <%= image_tag "Cycler/Cycle5.jpg", :alt => "Spark Love",
                :data => { :cycle_title => "Farming Trash Treasures",
                           :cycle_desc => "Putting paint on our newly built benches"} %>

  <%= image_tag "Cycler/Cycle6.jpg", :alt => "Spark Love",
                :data => { :cycle_title => "Shoveling Shapes and Snow",
                           :cycle_desc => "Helping people become mobile again after the 2014 snow storm"} %>

  <%= image_tag "Cycler/Cycle7.jpg", :alt => "Spark Love",
                :data => { :cycle_title => "Shoveling Shapes and Snow",
                           :cycle_desc => "Warming up with some delicious Indy pizza"} %>

  <%= image_tag "Cycler/Cycle8.jpg", :alt => "Spark Love",
                :data => { :cycle_title => "Farming Trash Treasures",
                           :cycle_desc => "Bulding Freindships that last a lifetime"} %>

  <%= image_tag "Cycler/Cycle9.jpg", :alt => "Spark Love",
                :data => { :cycle_title => "Dream Big",
                           :cycle_desc => "Cold Spring Elementary students in new capes"} %>

  <%= image_tag "Cycler/Cycle10.jpg", :alt => "Spark Love",
                :data => { :cycle_title => "World Record Attempt at IUPUI Regatta",
                           :cycle_desc => "Attempt at world's largest paper mache record"} %>

  <%= image_tag "Cycler/Cycle11.jpg", :alt => "Spark Love",
                :data => { :cycle_title => "M.U.D. Olympics",
                           :cycle_desc => "Creating the M.U.D. mural."} %>
</div>

<div class="content-section bisect">
  <div class="content-center">
    <div class="header">
      <h1>Welcome To <span class="wildFire">WILD FIRE</span></h1>
    </div>

   <div class="header">
      <h2>May the Fourth Be With You!</h2>
    </div>

        <%= image_tag("Events/MayTheFourth/starwars-banner.jpg", :alt => "WILDFIRE May The Fourth Festival Pure Eatery", :class => "eventInfoCenterImgMedium") %>

    <p>
      Come see our FREE community art festival with 100% Star Wars inspired art.    Bring the kids, bring your friends, dress up and relive your Star Wars passion.  The festival is graciously being hosted by <a target="_blank" href="http://www.pureeatery.com/">Pure Eatery</a> located in Fountain Square.  The event is <span class="wildFire">WILD FIRE's</span> first community fundraiser to help support our programs.  Let’s celebrate Star Wars and <span class="wildFire">WILD FIRE</span> together on May 2, 2015.  Plus remember its FREE!
      </br>
      </br>
      <%= link_to organization_eventInfo_path  do %>
        Click Here For More Info
      <% end %>
      </br>
      </br>
    </p>

    <div class="header">
      <h2>Join Us On Our Quest to Change the World</h2>
    </div>
    <p>
      What is <span class="wildFire">WILD FIRE</span>? It's is a variety of things. It might be described as a community or activist group, or maybe it’s

      a bit like pay it forward. The truth is, it is a lot of different things, and that’s part of what makes us

      different. Every event we organize is unique from the last. Every kind act we require from friends is

      specifically designed for them. We focus on touching people’s lives in unique creative ways that bring

      our community together. We all give what we can, when we can and how we can, and we're excited to have you!
    </p>
    <div class="header">
      <h2>Anyone Can Go Volunteer So Why Choose <span class="wildFire">WILD FIRE</span></h2>
    </div>
    <p>
      Friends invite friends. This means you know people

      and you get to have a great time while supporting a positive cause. We believe in fun because if it’s not

      fun, you won’t be back!
    </p>
    <p>
      Imagine a world where people were brought together by values instead of segregated by them. That’s

      us. We come from a variety of backgrounds, ethnicities, and religious faiths because it’s not our

      differences that connect us but our core belief in each other.

      So go out there one friend at a time and SPARK their interest. Together we make a difference.
    </p>
    <div class="header">
      <h2 class="signature">- <span class="wildFire">WILD FIRE</span></h2>
    </div>
  </div>
</div>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="4QHYS5KLW4N44">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<br/>

<%= javascript_tag do %>
    $( '.cycle-slideshow' ).cycle();
<% end %>
