<% provide(:contentTitle, 'Welcome to Wild Fire') %>

<div class="cycle-slideshow"
     data-cycle-pause-on-hover="true"
     data-cycle-center-horz=true
     data-cycle-center-vert=true
     data-cycle-speed="200" >
  <!-- empty element for overlay -->
  <div class="cycle-overlay"></div>
  <%= image_tag "Cycler/Cycle1.jpg", :alt => "Spark Love",
                                        :data => { :cycle_title => "Farming Trash Treasures",
                                                   :cycle_desc => "Turning throw away pallet wood into usable benches for Indy Urban Acres"} %>

  <%= image_tag("Cycler/Cycle2.jpg", :alt => "Spark Love",
                                           :data => { :cycle_title => "Pot Luck Care Packages",
                                                      :cycle_desc => "Handing out care packages to the people we found in need"}) %>

  <%= image_tag "Cycler/Cycle3.jpg", :alt => "Spark Love",
                                           :data => { :cycle_title => "Farming Trash Treasures",
                                                      :cycle_desc => "Bringing communities together"} %>

  <%= image_tag "Cycler/Cycle4.jpg", :alt => "Spark Love",
                :data => { :cycle_title => "Pot Luck Care Packages",
                           :cycle_desc => "Assembling care packages before heading downtown to hand them out"} %>

  <%= image_tag "Cycler/Cycle5.jpg", :alt => "Spark Love",
                :data => { :cycle_title => "Farming Trash Treasures",
                           :cycle_desc => "Putting paint on our newly built benches"} %>

  <%= image_tag "Cycler/Cycle6.jpg", :alt => "Spark Love",
                :data => { :cycle_title => "Shoveling Shapes and Snow",
                           :cycle_desc => "Helping people become mobile again after the 2014 snow storm"} %>

  <%= image_tag "Cycler/Cycle7.jpg", :alt => "Spark Love",
                :data => { :cycle_title => "Shoveling Shapes and Snow",
                           :cycle_desc => "Warming up with some delicious Indy pizza"} %>

  <%= image_tag "Cycler/Cycle8.jpg", :alt => "Spark Love",
                :data => { :cycle_title => "Farming Trash Treasures",
                           :cycle_desc => "Bulding Freindships that last a lifetime"} %>
</div>

<div class="content-section bisect">
  <div class="content-center">
	<div class="header">
      <h1>Welcome To <span class="wildFire">WILD FIRE</span></h1>
      <h2>Support Our Cause on gofundme</h2>
    </div>
    <p>
      <span class="wildFire">WILD FIRE</span> is trying hard to Spark Love in Indianapolis, and we are currently holding a fundraiser. Our aim is to raise
	  enough money to support the organization over the next year, as well support our initiative to gain our 501(c)(3) non-profit status. We're off to a great
	  start! Our organization has quickly grew in size thanks to our great volunteers. We are definitively making a difference and hope to 
	  continue to do so for a long time to come. So help us Spark Love. 
	</p>
	<p class="buttonLink">
		<span class="gofundme">
			<a href="http://www.gofundme.com/8gpqmg" target="_blank">Support <span class="wildFire">WILD FIRE</span></a>
		</span>
	</p>
    <div class="header">
      <h2>Join Us On Our Quest to Change the World</h2>
    </div>
    <p>
      What is <span class="wildFire">WILD FIRE</span>? It's is a variety of things. It might be described as a community or activist group, or maybe it’s

      a bit like pay it forward. The truth is, it is a lot of different things, and that’s part of what makes us

      different. Every event we organize is unique from the last. Every kind act we require from friends is

      specifically designed for them. We focus on touching people’s lives in unique creative ways that bring

      our community together. We all give what we can, when we can and how we can, and we're excited to have you!
    </p>
    <div class="header">
      <h2>Anyone Can Go Volunteer So Why Choose <span class="wildFire">WILD FIRE</span></h2>
    </div>
    <p>
      Friends invite friends. This means you know people

      and you get to have a great time while supporting a positive cause. We believe in fun because if it’s not

      fun, you won’t be back!
    </p>
    <p>
      Imagine a world where people were brought together by values instead of segregated by them. That’s

      us. We come from a variety of backgrounds, ethnicities, and religious faiths because it’s not our

      differences that connect us but our core belief in each other.

      So go out there one friend at a time and SPARK their interest. Together we make a difference.
    </p>
    <div class="header">
      <h2 class="signature">- <span class="wildFire">WILD FIRE</span></h2>
    </div>
  </div>
</div>

<%= javascript_tag do %>
    $( '.cycle-slideshow' ).cycle();
<% end %>
