<!DOCTYPE html>
<html>
<head>
  <title>Wild Fire</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="jquery/jquery-1.11.0.min.js"></script>
  <script src="jquery/jquery.cycle2.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="l-header">
    <div class ="l-cell">
        <div class="grid">
            <div class="grid-box grid-box--1of2">
                <div class="c-logo">
                  <a id="SmallLogo" href="http://wildfiresparklove.org">
                    <%= image_tag("logo_Small.jpg", :alt => "Spark Love", :height => 90) %>
                  </a>
                  <a id="LargeLogo" href="http://wildfiresparklove.org">
                    <%= image_tag("logo_Large.jpg", :alt => "Spark Love", :height => 90) %>
                  </a>
                </div>
            </div>
          <div class="grid-box grid-box--2of2">
            <nav class="nav--site" id="site-navigation">
              <div class="large-nav">
                    <span class="nav-link nav-link-left">
                      <a href="http://www.google.com">Events</a>
                    </span>
                    <span class="nav-link">
                      <a href="http://www.google.com">Spark</a>
                    </span>
                    <span class="nav-link">
                      <a href="http://www.google.com">About</a>
                    </span>
                    <span class="nav-link">
                      <a href="http://www.google.com">Contact</a>
                    </span>
                    <span class="nav-link nav-link-right">
                      <a href="http://www.google.com">Home</a>
                    </span>
              </div>
            </nav>
          </div>
        </div>
    </div>
  <div class="small-nav">
    <div class="small-nav-top">
      <div class="nav-link">
        <a href="http://www.google.com">Events</a>
      </div>
      <div class="nav-link">
        <a href="http://www.google.com">Spark</a>
      </div>
    </div>
    <div class="small-nav-bottom">
      <div class="nav-link">
        <a href="http://www.google.com">About</a>
      </div>
      <div class="nav-link">
        <a href="http://www.google.com">Contact</a>
      </div>
    </div>
  </div>
</header>
<section class="content">
    <div class="l-row l-row--intro">
      <div class="l-cell" id="ContentContainer">
        <%= yield %>
      </div>
    </div>
</section>
<footer class="l-row--a l-footer">
    <div class="l-cell" id="FooterContainer">
          <div class="l-footer-info">
            <div class="l-footer-copyright">© Wild Fire LLC 2014<span class="footer-delimiter"> | </span></div>
            <div class="l-footer-address">1234 Address Street Indianapolis IN 42667<span class="footer-delimiter"> | </span></div>
            <div class="l-footer-copyright">(317) - 333 - 4444</div>
          </div>
          <div class="list--social">
            <a  href="http://www.google.com">
              <%= image_tag("facebook.png", :alt => "Find Us on Facebook!", :height => 25) %>
            </a>
            <a  href="http://www.google.com">
              <%= image_tag("twitter.png", :alt => "Find Us on Twitter!", :height => 25) %>
            </a>
          </div>
    </div>
</footer>
</body>
</html>
