<!DOCTYPE html>
<html>
<head>
  <title>Wild Fire</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<header class="l-header">
    <div class ="l-cell">
        <div class="grid">
            <div class="grid-box grid-box--1of2">
                <div class="c-logo">
                  <%= link_to image_tag("Cycler/Cycle1.jpg", :border => 0, :alt => "Spark Love", :height => 90),  organization_home_path, :id => "SmallLogo" %>
                  <%= link_to image_tag("Cycler/Cycle1.jpg", :border => 0, :alt => "Spark Love", :height => 90),  organization_home_path, :id => "LargeLogo" %>
                </div>
            </div>
          <div class="grid-box grid-box--2of2">
            <nav class="nav--site" id="site-navigation">
              <div class="large-nav">
                    <%= link_to organization_events_path  do %>
                        <span class="nav-link nav-link-left">
                          <span>Events</span>
                        </span>
                    <% end %>
                    <%= link_to organization_spark_path  do %>
                        <span class="nav-link">
                          <span>Spark</span>
                        </span>
                    <% end %>
                    <%= link_to organization_about_path  do %>
                        <span class="nav-link">
                          <span>About</span>
                        </span>
                    <% end %>
                    <%= link_to organization_contact_path  do %>
                        <span class="nav-link">
                          <span>Contact</span>
                        </span>
                    <% end %>
                    <%= link_to organization_home_path  do %>
                        <span class="nav-link nav-link-right">
                          <span>Home</span>
                        </span>
                    <% end %>
              </div>
            </nav>
          </div>
        </div>
    </div>
  <div class="small-nav">
    <div class="small-nav-top">
      <%= link_to organization_events_path  do %>
        <div class="nav-link">
          <span>Events</span>
        </div>
      <% end %>
      <%= link_to organization_spark_path  do %>
          <div class="nav-link">
            <span>Spark</span>
          </div>
      <% end %>
    </div>
    <div class="small-nav-bottom">
      <%= link_to organization_about_path  do %>
          <div class="nav-link">
            <span>About</span>
          </div>
      <% end %>
      <%= link_to organization_contact_path  do %>
          <div class="nav-link">
            <span>Contact</span>
          </div>
      <% end %>
    </div>
  </div>
</header>
<section class="content">
    <div class="l-row l-row--intro">
      <div class="l-cell" id="ContentContainer">
        <%= yield %>
      </div>
    </div>
</section>
<footer class="l-row--a l-footer">
    <div class="l-cell" id="FooterContainer">
          <div class="l-footer-info">
            <div class="l-footer-copyright">© Wild Fire LLC 2014<span class="footer-delimiter"> | </span></div>
            <div class="l-footer-address">1234 Address Street Indianapolis IN 42667<span class="footer-delimiter"> | </span></div>
            <div class="l-footer-copyright">(317) - 333 - 4444</div>
          </div>
          <div class="list--social">
            <a  href="http://www.google.com">
              <%= image_tag("facebook.png", :alt => "Find Us on Facebook!", :height => 25) %>
            </a>
            <a  href="http://www.google.com">
              <%= image_tag("twitter.png", :alt => "Find Us on Twitter!", :height => 25) %>
            </a>
          </div>
    </div>
</footer>
</body>
</html>
